footer
  .footer_wrap
    p 所有内容仅限于学习参考，切勿商用。
    p
      | Copyright © 2013-2014
      a(href='') 有田十三

script(type='text/javascript', src='/js/basics/angular.min.js')
script(type='text/javascript', src='/js/basics/jQuery.min.js')
script(type='text/javascript', src='/js/plugins/upload/ajaxfileupload.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/controllers/AlbumController.js')
script(type='text/javascript', src='/js/controllers/PhotoController.js')
