header
  .title
    hgroup
      h1
        a(href='') Parede
      a(href='')
        span Automatic Classification
    nav
      li.item.first
        a(href='')
          span Tian's Album
          span ↓
      li.item
        a(href='/logout')
          span Quit