doctype html
html(ng-app='Parede')
  head
    title= title
    link(rel='stylesheet', href='/css/screen.css')
    
  body
    include ../includes/header
    block content
    include ../includes/footer