extends layouts/default

block content
  section.info
    .info_wrap
      .head_info
        img.user_head(src='./img/t.jpg', alt='pic')
        .user_info
          .user_title Tian
          .user_dscrip 牛逼的相册不解释
      ul.class_list
        li.item.first
          a.curr.cb(href='/home') Content
          span.arrow
        li.item
          a.tb(href='') Time
        li.item
          a.lb(href='') Location
      a(href='')
        img.extra(src='./img/logo.png', alt='logo')
  section.main
    article(ng-controller='PhotoController')
      .op_box
        ul
          li.item
            a.menu.button(href='./classify') Upload
          li.item
            a.menu.button#imgSubmit(href='') Retrival
            input(type='file', name='image', id='image')      
            //form(method='post', action='/upload', enctype='multipart/form-data')
          li.item#tagSearch-wrapper
            input#tagSearch(type='text')
            a.menu.button#tagSubmit(href='', ng-click='tagSubmit();') Search        
      .albums#albums
  link(rel='stylesheet' href='../js/plugins/fancybox/jquery.fancybox.css')
  script(src='../js/basics/jQuery.min.js')
  script(src='../js/plugins/fancybox/jquery.fancybox.js')
  script(src='../js/plugins/album.js')
  script.
    (function(){
      $(".fancybox").fancybox({
        openEffect  : 'none',
        closeEffect : 'none'
      });
    })();


  
