extends layouts/default

block content
  section.info
    .info_wrap
      .head_info
        img.user_head(src='./img/t.jpg', alt='pic')
        .user_info
          .user_title Tian
          .user_dscrip 牛逼的相册不解释
      ul.class_list
        li.item.first
          a.curr.cb(href='./home') Content
          span.arrow
        li.item
          a.tb(href='') Time
        li.item
          a.lb(href='') Location
      a(href='')
        img.extra(src='./img/logo.png', alt='logo')
  section.main
    article(ng-controller='AlbumController')
      .op_box
        ul
          li.item
            a.menu.button(href='./classify') Classify
          li.item
            a.menu.button#imgSubmit(href='') Retrival
            input(type='file', name='image', id='image')      
          li.item#tagSearch-wrapper
            input#tagSearch(type='text')
            a.menu.button#tagSubmit(href='', ng-click='tagSubmit();') Search  
          li.item
            a.menu.button(href='./generate') Generate Data
          li.item
            //form(method='post', action='/upload', enctype='multipart/form-data')
            // input#myId(type='hidden', name='imageurl')
            // input#filePath(type='file', name='filePath')
            // input#fileLoad(type='button', value='Upload', name='fileLoad', ng-click='fileUpload()')
      .albums#albums
        .album(ng-repeat="album in albums")
          .album_cover
            a(href='album?tag={{ album._id }}')
              img(src='{{ album.cover }}', alt='album_cover')
          .title
            span {{ album._id }}
            span.fg9 ({{ album.photos.length }})
          .dscrip
            .left.fg9 Created in {{ album.time.substring(0,10) }}
            span.right
  link(rel='stylesheet' href='../js/plugins/fancybox/jquery.fancybox.css')
  script(src='../js/basics/jQuery.min.js')
  script(src='../js/plugins/fancybox/jquery.fancybox.js')
  script(src='../js/plugins/album.js')
  script.
    (function(){
      $(".fancybox").fancybox({
        openEffect  : 'none',
        closeEffect : 'none'
      });
    })();
