extends layouts/default

block content
  section.info
    .info_wrap
      .head_info
        img.user_head(src='./img/t.jpg', alt='pic')
        .user_info
          .user_title Tian
          .user_dscrip 牛逼的相册不解释
      ul.class_list
        li.item.first
          a.curr.cb(href='') Content
          span.arrow
        li.item
          a.tb(href='') Time
        li.item
          a.lb(href='') Location
      a(href='')
        img.extra(src='./img/logo.png', alt='logo')
  section.main
    article(ng-controller='AlbumController')
      .op_box
        ul
          li.item
            a.menu.button(href='', ng-click='imgSubmit();') Upload
          li.item
            a.menu(href='') Create
          li.item
            input(type='search')
          li.item
            form(method='post', action='/upload', enctype='multipart/form-data')
              input(type='file', name='image')
              input(type='submit', name='submit', value='Submit')
      .albums
        .album(ng-repeat="album in albums")
          .album_cover
            a(href='album.html')
              img(src='{{ album.cover }}', alt='album_cover')
          .title
            span {{ album._id }}
            span.fg9 ({{ album.photos.length }})
          .dscrip
            .left.fg9 Created in {{ album.time }}
            span.right
