doctype html
html(ng-app='Parede')
  head
    title= 'Wecolme to Parede, an automatic classification album.'
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/js/plugins/skippr/jquery.skippr.css')
  section(ng-controller='LoginController')
    .main
      .left
        #{message}
      .right
        .wrap
          .title Parede
          form.form(name='loginForm')
            .input
              input(type='email', name='email', required, placeholder='Email', ng-model='login.email')
              input(type='password', name='password', required, placeholder='Password', ng-model='login.password')
            .persistency
              p(ng-show='loginForm.email.$invalid') Please input email/pwd
            button#submit_btn(ng-click='loginSubmit(login)') Login
          .signup
            span Maybe
            a(href='') Create a New Count
          .tag Login
      #container(style='height:450px;width:765px;position:absolute;z-index:1;')
        #theTarget
          div(style='background-image: url(./data/origin/19.jpg)')
          div(style='background-image: url(./data/origin/20.jpg)')
          div(style='background-image: url(./data/origin/3.jpg)')
          div(style='background-image: url(./data/origin/13.jpg)')
          div(style='background-image: url(./data/origin/24.jpg)')
  footer
    p 所有内容仅限于学习参考，切勿商用
    p
      | Copyright © 2014
      a(href='https://github.com/yooungt13') 有田十三
  script(type='text/javascript', src='/js/basics/angular.min.js')
  script(type='text/javascript', src='/js/basics/jQuery.min.js')
  script(type='text/javascript', src='/js/app.js')
  script(type='text/javascript', src='/js/controllers/LoginController.js')
  script(type='text/javascript', src='/js/plugins/skippr/jquery.skippr.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $("#theTarget").skippr({
        autoPlay: true
      });
    });
