doctype html
html(ng-app='Parede')
  head
    title= title
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/basics/angular.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers/LoginController.js')
  section(ng-controller='LoginController')
    .main
      .left
      .right
        .wrap
          .title Parede
          form.form(name='loginForm')
            .input
              input(type='email', name='email', required, placeholder='Email', ng-model='login.email')
              input(type='password', name='password', required, placeholder='Password', ng-model='login.pwd')
            .persistency
              p(ng-show='loginForm.email.$invalid') Please input email/pwd
            button(ng-click='loginSubmit(login)') Login
          .signup
            span Maybe
            a(href='') Create a New Count
          .tag Login
  footer
    p 所有内容仅限于学习参考，切勿商用
    p
      | Copyright © 2014
      a(href='https://github.com/yooungt13') 有田十三
